body{
    margin: 0px;
}
.nav{
    margin: 1px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    background-color: rgb(37, 36, 36);
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    height: 50px;
    
}
.nav-title{
    align-items: center;
    
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 10px;
    
}
li{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    display: flex;
    background-color: rgb(18, 138, 178);
    color: white;
    border: 4px solid black;
    box-shadow: 5px 2px 5px black;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: bold;

}